<h2>SIGN IN</h2>



<form  action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Enter email">
    <input type="password" name="password" placeholder="Enter password">
    <input type="submit" value="Sign In">